body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 1.3rem;
    margin: 0;
    background-color: #555555;
    margin: 0;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    background-color: #3e3e3e;
    border-radius: 12px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.4);
    gap: 2px;
}

.calcRow {
    display: flex;
    width: 100%;
    gap: 2px;
}

#display {
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    margin-bottom: 3px;
    color: #3e3e3e;
    display: flex;
}

#display div {
    margin-left: auto;
    padding: 8px;
}

.calcRow button {
    flex: 1;
    font-size: 1.6rem;
    border-radius: 8px;;
    height: 60px;
}

.operator {
    background-color: orange;
}

#clear {
    background-color: #7d7d7d;
    color: #fff;
}